Vari comandi interfaccia jupyter notebook

In [1]:
5*4

20

In [2]:
56*83749

4689944

In [3]:
475828338*283741

135012008452458

In [4]:
print('My name is marco and I am',24,'years old')

My name is marco and I am 24 years old

In [33]:
475828338*283741
b

NameError: name 'b' is not defined

In [ ]:
# command+s save
#shift+enter run

### Variables

In [5]:
age = 24

In [6]:
print('My name is marco and I am',age,'years old')

#print is very useful for debugging (try to correct your code when it fails)

My name is marco and I am 24 years old

In [7]:
print('My name is andrea and I am',age,'years old')

My name is andrea and I am 24 years old

In [8]:
print('My name is luca and I am',age,'years old')

My name is luca and I am 24 years old

In [11]:
age1 = 25.6

In [13]:
print(age+age1)
print(age*age1)
print(age/age1)
print(age%age1)

49.6
614.4000000000001
0.9375
24.0

In [14]:
name = 'Marco'

In [16]:
print('My name is',name,'and I am',age,'years old')

My name is Marco and I am 24 years old

Now we have seen how to write single numbers and do some basic operations (more or less we are at the point like having simply paper and a pencil to do some basic operation). However I want to teach you how to treat big data, so the first question is: How we can store big data?

## Lists

In [1]:
ages = [21, 22, 23, 22, 24]
names = ['red','blu','yellow','green','black']


print('ages 0 is',ages[0])
print('ages 1 is',ages[1])

print('names 0 is',names[0])
print('names 1 is',names[1])


#instead of writing

age1 = 21
age2 = 22
age3 = 23
age4 = 22
age5 = 24

#the same with names
name1 = 'Marco'
name2 = 'Giovanni'
name3 = 'Andrea'

ages 0 is 21
ages 1 is 22
names 0 is red
names 1 is blu

### Methods

What are methods? methods are similar to mathematic functions. They take a variable, do something and return a new variable. Python offers some special methods to work on lists. They are simply some commands which take as input the list, do some operation and return as output the list itself or a variable related to it. The sintax in general is list_name.method(some_input_argument). Below there are some examples:

In [2]:
# append() : adds an item to the end of the list.
ages = [21, 22, 23, 22, 24]

ages.append(25)
print(ages)

[21, 22, 23, 22, 24, 25]

In [3]:
#clear(): removes all items from the list.
ages = [21, 22, 23, 22, 24]

ages.clear()
print(ages)

[]

In [5]:
# count() : returns the number of times the specified element appears in the list.
ages = [21, 22, 23, 22, 24]

count_23 = ages.count(23)
print(count_23)

count_22 = ages.count(22)
print(count_22)

1
2

In [8]:
# index() : returns the index of the specified element in the list

ages = [21, 22, 23, 22, 24]

index_21 = ages.index(21)
print(index_21)

index_23 = ages.index(23)
print(index_23)

index_22 = ages.index(22)
print(index_22)

0
2
1

In [16]:
# insert() :  inserts an element to the list at the specified index.

colors = ['red','blu','yellow']
print(colors)
colors.insert(3, 'green')
print(colors)
colors.insert(1, 'black')
print(colors)
colors.insert(2, 'white')
print(colors)

['red', 'blu', 'yellow']
['red', 'blu', 'yellow', 'green']
['red', 'black', 'blu', 'yellow', 'green']
['red', 'black', 'white', 'blu', 'yellow', 'green']

In [18]:
# remove() : removes the first matching element (which is passed as an argument) from the list.

colors = ['red','blu','yellow']
colors.remove('red')
print(colors)

colors = ['red','blu','yellow','red']
colors.remove('red')
print(colors)

['blu', 'yellow']
['blu', 'yellow', 'red']

In [20]:
# pop() : removes the item at the given index from the list and returns the removed item.

colors = ['red','blu','yellow']
colors.pop(0)
print(colors)

colors = ['red','blu','yellow']
colors.pop(2)
print(colors)

['blu', 'yellow']
['red', 'blu']

In [28]:
# sort() : sorts the elements of a given list in a specific ascending or descending order.

numbers = [1,7,9,3,5,2,8,6,4]

numbers.sort()
print(numbers)

numbers.sort(reverse = True)
print(numbers)

#the people which have made the methof sort have put by default the input_argument 'reverse' as False
numbers.sort(reverse = False)
print(numbers)

colors = ['red','blu','yellow','green','black','zeta']
colors.sort()
print(colors)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['black', 'blu', 'green', 'red', 'yellow', 'zeta']

In [31]:
#concatenate two lists

numbers = [1,7,9,3,5,2,8,6,4]
colors = ['red','blu','yellow','green','black','zeta']
print(numbers+colors)

[1, 7, 9, 3, 5, 2, 8, 6, 4, 'red', 'blu', 'yellow', 'green', 'black', 'zeta']

In [ ]:
np.stack
np.vstack
np.hstack
np.sort